body {
    padding-top: 50px;
}

.page-header button {
    float: right;
}

.k-listview {
    position: relative;
    margin-bottom: -1px;
    border: 0;
    overflow: hidden;
}

.card {
    float: left;
    width: 100%;
    margin: 0;
}

    .card .panel {
    }


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media(min-width:768px) {

    .card {
        width: 348px;
        margin: 6px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media(min-width:992px) {

    .card {
        width: 376px;
        margin: 6px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media(min-width:1200px) {

    .card {
        width: 460px;
        margin: 6px;
    }
}
